@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-custom::-webkit-scrollbar {
  height: 0.65rem;
  background-color: rgba(136, 136, 136, 0.15); ; 
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: rgba(168, 167, 167, 0.45);
  border-radius: 2px;
}

.scrollbar-custom::-webkit-scrollbar:hover {
  height: 0.75rem;
  background-color: rgba(136, 136, 136, 0.15); 
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background-color: rgba(168, 167, 167, 0.45);
}
